.sidebar {
  max-width: 300px;
  margin: 2px 0 0 0;
  border-right: 1px solid #a57f45;
}
/* Profile */
.header-container {
  justify-content: center;
}
.profile-header {
  margin: 17px 0px 0px 0px;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 5px;
  font-family: "Pangolin", cursive;
  color: #e8e8e8;
}
/* Image */

.personal-img {
  max-height: 300px;
  margin: 8px 0px 12px 0px;
}
.id-img {
  justify-content: center;
}

/* ID */

.id-details {
  margin: 12px 0px 0px 0px;
}
.fullname,
.age {
  margin-top: 12px;
  padding: 12px 12px 12px 10px;
  border-radius: 14px;
  border: 1px solid #a57f45;
}
.icon {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  font-family: "Pangolin", cursive;
  color: #e8e8e8;
}
.id-info {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Pangolin", cursive;
  color: #e8e8e8;
}

/* Job */
.job {
  margin-top: 22px;
}
.job-header {
  text-align: center;
  color: #14213d;
}
